.button {
  margin: 0;
  padding: 20px;
  min-width: fit-content;
  min-height: 60px;
  font-size: 22px;
  line-height: 1;
  color: #794f08;
  font-family: 'Caveat', sans-serif;
  text-decoration: none;
  background-color: #faecd5;
  border: 1px solid #e5d6bd;
  border-radius: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  will-change: transform;
  transition: all 0.3s ease-out;

  &:hover, &:active {
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    filter: blur(0);
    -webkit-filter: blur(0);
    -webkit-perspective: 1000px;
    transform: perspective(1000px) scale(1.05) translateZ(0);
  }

  &:disabled {
    opacity: 0.4;
    color: #8f8b85;
    background-color: #908e8b36;
    
    &:hover {
      cursor: default;
      transform: none;
    }
  }

  &__icon {
    &_prev {
      margin-right: 20px;
    }
    &_next {
      margin-left: 20px;
    }
  }
}