@keyframes rotating {
  from {
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.addition-page-wrapper {
  margin: auto 0 0;
  width: 80vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .addition {
    padding-left: 50px;
    border-left: 1px solid #000;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    &__heading {
      align-self: center;
    }

    &__title {
      align-self: center;
    }
    
    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__list-item {
      list-style: none;
    }

    &__input {
      margin: 0 0 0 10px;
    }

    &__icon {
      margin-right: 5px;
    }

    &__button {
      &_add {
        margin: 10px 0 30px;
        padding: 10px;
        background-color: #c5bcca;
        border: none;
        border-radius: 10px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__next {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &__table {
      margin-bottom: 30px;
      width: 100%;
      font-size: 14px;
      text-align: center;
      border-collapse: collapse;

      .addition__table-caption {
        margin-bottom: 10px;
      }

      .addition__table-icon {
        margin-left: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      thead th {
        background-color: #00000040;
      }

      th, td:first-child {
        // background: #AFCDE7;
        // background-color: #9ea1946b;
        color: white;
        padding: 10px 20px;
      }
      th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: #e5d6bd;
      }
      td {
        // background: #D8E6F3;
        background-color: #9ea1946b;
      }
      th:first-child, td:first-child {
        text-align: left;
      }
      
      .extra > td {
        font-weight: 700;
        background-color: #c5bcca;
      }

      .highlight > td {
        background-color: #a8c3b7;
      }
    }

    &__preloader {
      width: 100%;
      color: #8b366aa8;
      display: flex;
      justify-content: center;
    }

    &__preloader-icon {
      -webkit-animation: rotating 2s linear infinite;
      -moz-animation: rotating 2s linear infinite;
      -ms-animation: rotating 2s linear infinite;
      -o-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
    }
  }

}

@media (max-width: 790px) {
  .addition-page-wrapper .addition {
    padding: 0;
    border: none;
    flex-basis: unset;
  }
}